/* Global Stylesheet, affects EVERYTHING */

/* Import Tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix default wackiness */
html,
body {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

/* Animate EVERYTHING, disable default outlines, because ugly */
* {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    outline: none;
}

/* Useful for overflow prevention */
.wrap-long {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    /* hyphens: auto; */
}

/* Some colouring, pulled from different components, so necessary to be within this file for JIT compliation */
.active-heading {
    --hl-color: #6a7fdb;
    box-shadow: 0px 0px 5px 0.5rem var(--hl-color);
    -moz-box-shadow: 0px 0px 5px 0.5rem var(--hl-color);
    -webkit-box-shadow: 0px 0px 5px 0.5rem var(--hl-color);
    background-color: var(--hl-color);
    color: #ffffff;
}

/* Simple link styles */
a:hover {
    text-decoration: underline;
}

/* Fixes wackiness with JIT compilation */
.markdown-body img {
    @apply rounded-lg;
}

/* Scrollbar Styling */
/* mozilla pls implement this asap */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: rgb(229, 231, 235);
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
